.alert-container{
    display:flex;

}

.alert-icon{
    position: absolute;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    width: 16px !important;
    height: 16px !important;
    right: 20px;
    float: right;

}

.min-icon {
    width: 14px !important;
    height: 14px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #333333;
    color: #fff;
    font-size: 12px;
    font-weight:500;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}




.tooltip .tooltiptext-right {
    visibility: hidden;
    width: 240px;
    background-color: #333333;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: 50%;
    margin-right: -30px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext-right::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext-right {
    visibility: visible;
    opacity: 1;
}



.tooltip .tooltiptext-beside {
   visibility: hidden;
    width: 240px;
    background-color: #333333;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;

    left:115%;
    top:-55%;

     margin-right: -30px;
    opacity: 0;
    transition: opacity 1s;



}

/*.tooltip .tooltiptext-beside::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
}*/

.tooltip:hover .tooltiptext-beside {
    visibility: visible;
    opacity: 1;
}